.first-img-container{
    height: 100vh;
    transition: 300ms ease-out;
}
.first-img{
    height: auto;
    width: 20vw;
}
.first-bottom-img{
    display: block;
    height: 80px;
    width: auto;
}
.first-text{
    background-color: #573392;
}
.text{
    transform: translateY(300%);
}
.top-text{
    height: 150px;
    overflow: hidden;
}
.bottom-text{
    height: 200px;
    overflow: hidden;
}
.hide{
    transform: translateY(200%);
}

